@import url('./datepicker.min.css');

body {
	font-family: 'Open Sans', sans-serif;
	color: #777;
	background-color: #f5f5f5;
}

main {
	margin-top: 70px;
	background-color: #fff;
	min-height: 500px;
}

.nav-tabs {
	margin-bottom: 15px;
}

.sign-with {
	margin-top: 35px;
	padding: 30px;
}

@media ( min-width : 768px) {
	main.hassub {
		margin-top: 120px;
	}
	.uhand {
		margin: 70px 0;
	}
	.footer-logos {
		margin-top: 30px;
	}
}

div#OR {
	height: 30px;
	width: 30px;
	border: 1px solid #C3C3C3;
	border-radius: 50%;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	font-size: 13px;
	float: right;
	position: absolute;
	right: -16px;
	top: 40%;
	z-index: 1;
	background: #DFDFDF;
}

.hai {margin-top =10px;
	
}

.preference {
	margin-left: 124px;
	margin-top: 6px;
}
/* .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    border-radius: 20px;
} */
.carousel-caption h4 {
	color: #fff;
}

h4, h5 {
	color: #333;
	line-height: 24px;
}

#carousel-text {
	font-size: 16px;
}

@media ( min-width : 768px) .uhand {
	margin
	:
	 
	70
	px
	 
	0;
}

.news-list>li>a {
	font-weight: 700;
}

.navbar-default {
	background-color: #fff;
	border-bottom: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	padding: 10px 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #8cc732;
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	cursor: pointer;
	padding: 15px 10px;
	color: #333;
}

.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #fff;
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	border-radius: 10px;
}

.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #fff;
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	border-radius: 10px;
}

.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #fff;
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	border-radius: 10px;
}

#carousel-text .carousel-indicators .active {
	background-color: #8cc73c;
}

#carousel-text .carousel-indicators li {
	background-color: #e4e4e4;
}
/* .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
          overflow: hidden;
  }
 */
.item {
	background: #333;
	text-align: center;
	height: 300px !important;
}

/* h2 {
	margin: 0;
	color: #888;
	padding-top: 100px;
	font-size: 50px;
} */

.studentregister {
	background: url(../images/student.jpg) no-repeat 0 0;
	height: 24px;
	padding: 8px 0 11px 37px;
}

.hostelregister {
	background: url(../images/hostel.jpg) no-repeat 0 0;
	height: 24px;
	padding: 8px 0 11px 37px;
}

.newuser {
	width: 325px;
	margin: 0 auto;
	overflow: hidden;
}

.noBdr {
	border-right: 0 !important;
}

.studAddress {
	margin: 0px;
	width: 271px;
	height: auto;
	resize: none;
}


.page-header {
	background-color: #337ab7;
	color: #FFFFFF;
	padding: 15px;
	margin: 0 0 20px;
	border-bottom: none;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.breadcrumb1 {
	margin: 0;
	padding: 0;
	/* background-color: #f5f5f5; */
	display: inline-block;
}

.breadcrumb1>li {
	display: inline-block;
}

.breadcrumb1 a, .breadcrumb1>.active {
	color: #FFFFFF;
}

.category .panel-body {
	padding: 60px 15px;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

/*-- sign-up --*/
.sign-up {
	width: 40%;
	padding: 2em 0 4em;
	margin: 0 auto;
}

.sign-up h3 {
	text-align: center;
	font-size: 2em;
	color: #000;
	margin: 0 0 0.5em;
}

p.creating {
	color: #999;
	font-size: 14px;
	margin: .5em 0 3em;
	line-height: 1.8em;
	text-align: center;
}

.sign-up1 {
	float: left;
	width: 27%;
}

.sign-up1 h4 {
	color: #3C4348;
	margin: 1.6em 0 1em;
	font-size: 18px;
}

.sign-up2 {
	float: right;
	width: 70%;
}

.sign-up2 input[type="text"] {
	outline: none;
	border: 1px solid #BEBEBE;
	background: none;
	font-size: 15px;
	padding: 10px 10px;
	width: 100%;
	margin: 1em 0;
}

.sign-up2 input[type="password"] {
	outline: none;
	border: 1px solid #BEBEBE;
	background: none;
	font-size: 15px;
	padding: 10px 10px;
	width: 100%;
	margin: 1em 0;
}

.sign-up h5 {
	margin: 0 0 2em;
	color: #F44336;
	font-size: 20px;
}

.sign-up h6 {
	margin: 2em 0 1em;
	color: #F44336;
	font-size: 20px;
}

.sign-up h6 {
	margin: 2em 0 1em !important;
}

.sign-up input[type="submit"] {
	outline: none;
	border: none;
	background: #F44336;
	color: #fff;
	font-size: 1em;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}

.sign-up input[type="submit"]:hover {
	background: #27cce4;
	color: #fff;
}

.sub_home {
	margin: 3em 0 0;
}

.sub_home_left {
	float: left;
	width: 30%;
}

.sub_home_right {
	float: right;
}

.sub_home_right p {
	font-size: 1em;
	color: #999;
	margin: .5em 0 0;
}

.sub_home_right p a {
	text-decoration: underline;
	color: #27cce4;
}

.sub_home_right p a:hover {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/*Contact screen*/
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

@media only screen and (min-width: 992px) {
	.contact1 .section-title {
		margin-bottom: 35px;
		font-weight: 800;
		color: #555;
		line-height: 1;
		margin-top: 0;
	}
	.contact1 .form-group {
		margin-bottom: 22px;
	}
	.contact1 .section-para {
		margin-bottom: 25px;
		line-height: 30px;
		width: 390px;
	}
	.contact1 .list-unstyled>li {
		margin-bottom: 15px;
	}
	.contact1 .list-unstyled>li>i {
		border: 2px solid #01BF86;
		color: #01BF86;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		height: 50px;
		margin-right: 15px;
		padding-top: 14px;
		text-align: center;
		width: 50px;
		border-radius: 50%;
	}
	.contact1 .list-unstyled>li>span {
		font-family: 'Roboto Slab', serif;
		font-size: 14px;
		color: #666666;
		letter-spacing: 1px;
	}
	.contact1 .form-control {
		background-color: transparent;
		background-image: none;
		border: 1px solid #dddddd;
		box-shadow: none;
		-webkit-box-shadow: none;
		color: #777777;
		font-size: 13px;
		height: 45px;
		letter-spacing: 0.5px;
		padding: 10px 15px;
		width: 100%;
		word-spacing: 1px;
		border-radius: 0;
	}
	.contact1 .social-links i {
		background-color: #01BF86;
		color: #ffffff;
		width: 35px;
		height: 35px;
		margin-bottom: 5px;
		padding-top: 11px;
		text-align: center;
		cursor: pointer;
		border-radius: 3px;
	}
	.contact1 .form-group .btn {
		background-color: #444;
		border: none;
		border-radius: 0;
		color: #fff;
		padding: 12px 20px;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;
	}
	.contact1 .textarea {
		min-height: 140px !important;
		width: 100% !important;
	}
	.contact1 .form-control:focus {
		border-color: #999999;
	}
	.footer3 .dark {
		background-color: #191C33;
		/* padding: 60px 0px 50px; */
		font-weight: 200;
		color: #CBD0D3;
	}
	.footer3 {
		padding-top: 0px;
	}
	.footer3 .dark h2 {
		color: #ecf0f1;
		font-family: "Titillium Web", sans-serif;
		font-size: 40px;
		font-weight: 100;
		margin-top: 0;
		padding-bottom: 20px;
	}
	.footer3 .dark span {
		font-size: 13px;
		font-weight: 400;
		color: #ccc;
		text-transform: uppercase;
		font-family: 'Roboto Slab', serif;
	}
	.footer3 .dark a, .footer3 .dark a i {
		font-size: 18px;
		margin-right: 5px;
		margin-top: 30px;
		color: #1ABC9C;
	}
	
}.divider.dashed {
		border-style: dashed;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
	}
	.divider1 .divider, .divider2 .divider, .divider3 .divider, .divider4 .divider,
		.divider5 .divider, .divider6 .divider, .divider7 .divider {
		line-height: 0px !important;
		height: 0px;
		border-width: 2px;
		border-color: #CBD0D3;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
.divider > span {
    background: #fff;
    text-transform: uppercase;
    padding: 0px 21px;
    font-size: 18px;
    color: #ccc;
}
.sign_up_title {
    text-align: center;
    margin-bottom: 5%;
}

.sign_in_but {
    border-radius: 45%;
    margin-left: 5px
}

.sign_up_form {
    margin-bottom: 30%;
}

.sign_up_form input {
    border-radius: 0px;
}

.bg-lightgray {
    background-color:LightGray;
}p .name {
    text-align: center;
}

/ checkboxes /
.2kFyHg .1p7h2j {
 position: relative;
 width: 14px;
 height: 14px;
 background-color: transparent;
 border: 1.4px solid #c2c2c2;
 border-radius: 1.5px;
 box-sizing: border-box;
 display: inline-block;
 vertical-align: middle;
 cursor: pointer;
}

.2kFyHg .3uUUD5:checked+._1p7h2j {
 background: #2874f0;
 border: #2874f0;
}

.2kFyHg .3uUUD5 {
 visibility: hidden;
 position: absolute;
 top: 0;
 left: 0;
}

._-9cJSB {
 padding: 3px 0;
}

._2kFyHg {
 cursor: pointer;
 width: 100%;
 position: relative;
}

.2kFyHg .3uUUD5:checked+._1p7h2j:before {
 display: block;
}

.2kFyHg .1p7h2j:before {
 position: absolute;
    content: "";
    left: 5px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
}

._1GEhLw {
 vertical-align: middle;
 font-size: 14px;
 padding-left: var(- -checkbox-label-margin-left);
 color: var(- -color-grey-grade5);
 display: inline-block;
 width: calc(100% - ( var(- -checkbox-side)+ var(- -checkbox-label-margin-left)));
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 line-height: 1;
 cursor: pointer;
}
