body {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    background-color: #f5f5f5;
}
main {
    margin-top: 70px;
    background-color: #fff;
    min-height: 500px;
}
  .nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 35px;
    padding: 30px;
}
@media ( min-width : 768px) {
	main.hassub {
		margin-top: 120px;
	}
	.uhand {
		margin: 70px 0;
	}
	.footer-logos {
		margin-top: 30px;
	}
}


div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C3C3C3;
    border-radius: 50%;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    font-size: 13px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
.hai{
margin-top=10px;
}
.preference{
    margin-left: 124px;
    margin-top: 6px;
}
/* .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    border-radius: 20px;
} */
.carousel-caption h4 {
    color: #fff;
}

h4, h5 {
    color: #333;
    line-height: 24px;
}

#carousel-text {
    font-size: 16px;
}
@media (min-width: 768px)
.uhand {
    margin: 70px 0;
}
.news-list>li>a {
    font-weight: 700;
}


.navbar-default {
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    padding: 10px 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #8cc732;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
    padding: 15px 10px;
    color: #333;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
#carousel-text .carousel-indicators .active {
    background-color: #8cc73c;
}

#carousel-text .carousel-indicators li {
    background-color: #e4e4e4;
}
/* .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
          overflow: hidden;
  }
 */
 .item {
        background: #333;
        text-align: center;
        height: 300px !important;
    }
    h2 {
        margin: 0;
        color: #888;
        padding-top: 100px;
        font-size: 50px;
    }
    .studentregister {
	 background: url(../images/student.jpg) no-repeat 0 0; 
	height: 24px;
	padding: 8px 0 11px 37px;
}

 .hostelregister {
	 background: url(../images/hostel.jpg) no-repeat 0 0; 
	height: 24px;
	padding: 8px 0 11px 37px;
}
.newuser {
	width: 325px;
	margin: 0 auto;
	overflow: hidden;
}

.noBdr {
	border-right: 0 !important;
}

.studAddress{
	margin: 0px;
    width: 271px;
   height: auto;
    resize:none;
}




/*  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q,
	dl, dt, dd, ol, ul, fieldset, form, label, legend, textarea, table,
	caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	line-height: 24px;
}

.alignc {
	text-align: center !important;
}

.\!margin-bottom--lv3 {
	margin-bottom: 18px !important;
}

.c-loginContent {
	max-width: 540px;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.padding--lv1 {
	padding: 6px;
}

h1, .h1 {
	font-size: 30px;
	line-height: 1.6em;
	margin-bottom: .2em;
	letter-spacing: -0.029em;
	text-transform: capitalize;
}

.float-left {
	float: left;
}

label {
	color: #484848;
	font-weight: 600;
	display: block;
	max-width: 635px;
	padding-bottom: .8em;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
 
label, input, select, textarea {
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana,
		sans-serif;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	font-weight: 600;
	color: #484848;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana,
		sans-serif;
	outline: 0;
}

.field-wrapper {
	margin: 0;
	clear: both;
	position: relative;
	overflow: visible;
}

 .field-wrapper input[type="text"], .field-wrapper input[type="number"],
	.field-wrapper input[type="email"], .field-wrapper input[type="url"],
	.field-wrapper input[type="tel"], .field-wrapper input[type="password"],
	.field-wrapper textarea {
	position: relative;
}

.c-largeForm input[type="text"], .c-largeForm input[type="email"],
	.c-largeForm input[type="url"], .c-largeForm input[type="password"],
	.c-largeForm input[type="tel"], .c-largeForm input[type="number"] {
	min-height: 52px;
	font-size: 17px;
	line-height: 20px;
	padding: 0 15px;
}

.field-size {
	display: inline-block;
	padding: 0 .4em 0 .4em;
	margin-bottom: 2em;
	vertical-align: middle;
	border-radius: 3px;
	min-width: 50px;
	max-width: 635px;
	width: 100%;
	min-height: 32px;
	background-color: #ffffff;
	border: 2px solid #c9c9c9;
	margin: 0 0 24px 0;
} 

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
	input[type="file"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
	input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
	input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
	input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
	input[type="color"]:focus, .faux-file:focus {
	border: 2px solid #52bad5;
	outline: none;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover,
	input[type="file"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover,
	input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover,
	input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover,
	input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover,
	input[type="color"]:hover, .faux-file:hover {
	border-color: #a6a6a6;
} 

input {
	-webkit-appearance: none;
}

.p1 {
	color: #ffffff;
	background-color: #52bad5;
	-ms-transition: background-color 0.2s ease-in-out 0s, opacity 0.2s
		ease-in-out 0s;
	transition: background-color 0.2s ease-in-out 0s, opacity 0.2s
		ease-in-out 0s;
}

.button-wide {
	font-size: 17px;
	padding: 0 42px;
}

.button-large {
	font-weight: 600;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana,
		sans-serif;
	text-align: center;
	vertical-align: middle;
	text-transform: capitalize;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 18px;
	margin-right: 18px;
	border: 0 none;
	border-radius: 3px;
	display: inline-block;
	font-size: 15px;
	height: 48px;
	line-height: 49px;
}


}
@media only screen and (max-width:64em) {
	.freddie {
		background-size: 120px;
		height: 130px
	}
}
.freddie--login {
    background-size: 120px;
    height: 130px;
}
@media only screen and (max-width:40em) {
	.freddie {
		background-size: 85px;
		height: 90px
	}
}



.freddie {
	background:
		url(https://gallery.mailchimp.com/74afb1b557e9265273c38e56b/images/4a62edaa-918c-41b1-9771-3848726ee255.png)
		no-repeat scroll 50% 0 transparent;
 background-size: 200px; 
}

.alignc {
	text-align: center !important;
}

.\!margin-bottom--lv2 {
	margin-bottom: 12px !important;
}

.\!margin-left-right--lv0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.margin--lv6 {
	margin: 36px;
} */


.page-header {
    background-color: #337ab7;
    color: #FFFFFF;
    padding: 15px;
    margin: 0 0 20px;
    border-bottom: none;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.breadcrumb1 {
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; */
    display: inline-block;
}
.breadcrumb1>li {
    display: inline-block;
}
.breadcrumb1 a, .breadcrumb1>.active {
    color: #FFFFFF;
}

.category .panel-body {
    padding: 60px 15px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
