 <!--======== contact =========-->
 <div class="container">
	<div class="row" style="margin-top: 60px; margin-bottom: 60px;">
            <section id="contact1" class="contact1">
                <div class="container">
                    <div class="row">
                        <div class="contact-overlay">
                            <div class="col-md-6">  
                                <h1 class="section-title wow zoomIn">Get In Touch</h1>
                                <div class="second-divider"><span class="left-divider"></span></div>
                                <p class="section-para">Lorem Ipsum adalah text contoh digunakan didalam industri pencetakan dan 
                                typesetting contoh semenjak tahun.</p>
                                <ul class="list-unstyled">
                                    <li class="wow fadeInUp"><i class="fa fa-phone"></i> <span>977) 324 644 676 / (800) 123 456 789</span></li>
                                    <li class="wow fadeInUp"><i class="fa fa-home"></i> <span>5 New York City, NY,United States</span></li>
                                    <li class="wow fadeInUp"><i class="fa fa-envelope-o"></i> <span>admin@bootexperts.com</span></li>
                                </ul>
                                <ul class="list-inline social-links">
                                    <li><i class="fa fa-linkedin"></i></li>
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                    <li><i class="fa fa-dribbble"></i></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group wow fadeInUp" data-wow-delay="0.2s">
                                            <label class="sr-only">Your Name</label>
                                            <input type="text" name="name" class="form-control" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group wow fadeInUp" data-wow-delay="0.4s">
                                            <label class="sr-only">Your Email</label>
                                            <input type="email" name="email" class="form-control" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                            <label class="sr-only">Phone</label>
                                            <input type="tel" name="phone-number" class="form-control" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">
                                        <div class="form-group wow fadeInUp" data-wow-delay="0.8s">
                                            <label class="sr-only">Massage</label>
                                            <textarea class="form-control textarea" name="message" rows="5" placeholder="Massage"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group wow fadeInUp" data-wow-delay="1s">
                                            <button type="submit" class="btn btn-default ">Send Massage</button>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>    
            </section>
            </div></div>