
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a ui-sref="web.home"><img src="./images/DreamHostel.jpg" alt="DreamHostel1"> </a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
				<li><a ui-sref="web.kundcase.kundcase1">test1</a></li>
				<li><a ui-sref="web.arbetsmetodik">test2</a></li>
				<li><a ui-sref="web.dialogverktyget">test3</a></li>
				<li><a ui-sref="web.varfor">test4</a></li>
				<li><a ui-sref="web.om-oss">test5</a></li>
				<li><a ui-sref="web.contact">Contact Us</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Large modal -->


                        
          
		
		
		

<main>
<div ui-view></div>
</main>
 <footer >
	<section id="footer3" class="footer3">
    
                <div class="dark">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center social">

                               

                                <span>We're social, come meet and meet us:</span><br>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>

                </div><!-- /.item -->

            </section>
</footer>

