<style>
.panel-title .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';
	/* essential for enabling glyphicon */
	content: "\e114"; /* adjust as needed, taken from bootstrap.css */
	float: right; /* adjust as needed */
	color: grey; /* adjust as needed */
}

.panel-title .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

#mybtn-red {
	color: red;
}

#mybtn-green {
	color: green;
}

.trip-item {
	background-color: #f7f7f7;
	overflow: hidden;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-bottom: 20px;
	min-height: 10px;
}

.trip-item .item-price-more {
	position: relative;
	padding: 0 30px;
	margin: 20px 0;
	width: 20%;
	float: right;
	overflow: hidden;
}

.trip-item .item-price-more:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 2px dotted #D4D4D4;
}

.trip-item .item-media {
	position: relative;
	width: 30%;
	float: left;
}

.trip-item .item-media .image-cover {
	padding-top: 66.66%;
	overflow: hidden;
}

.image-cover {
	position: relative;
	overflow: hidden;
	padding-top: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.image-cover img {
	position: absolute;
	width: 100%;
	max-width: none !important;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.trip-item:hover {
	-webkit-box-shadow: 0 0 0 2px #0091EA;
	-moz-box-shadow: 0 0 0 2px #0091EA;
	box-shadow: 0 0 0 2px #0091EA;
}

.trip-item .item-price-more a {
	margin-top: 32px;
}

.awe-btn {
	display: inline-block;
	background: none;
	border: 1px solid #0091ea;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	white-space: nowrap;
	text-transform: uppercase;
	cursor: pointer;
	line-height: normal;
	padding: 8px 16px;
	text-align: center;
	font-size: 13px;
	color: #666;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.trip-item .item-body {
	position: relative;
	padding: 18px 34px;
	width: 50%;
	float: left;
	overflow: hidden;
	overflow-x: auto;
}

.trip-item .item-body .item-list ul {
	margin: 5px 0 0;
	padding-left: 16px;
	color: #666;
}

.item-title h2 {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #ad0b0b;
	margin: 0;
	font-size: 20px;
	font-weight: 600;
}

.awe-btn:focus, .awe-btn:hover {
	background-color: #0091ea;
	color: #fff;
	text-decoration: none;
}

.trip-item .item-body .item-footer {
	margin-top: 35px;
	overflow: hidden;
}

.trip-item .item-body .item-footer .item-icon .awe-icon {
	margin-top: 35px;
	overflow: hidden;
}

.trip-item .item-body .item-footer .item-rate {
	float: left;
	font-size: 18px;
	font-weight: 700;
	color: #B1B1B1;
	font-weight: 700;
}

.trip-item .item-body .item-footer .item-icon {
	float: right;
	color: #337ab7;
}

li.demo {
	list-style-type: none;
}

.washingmachine {
	background: url('./images/washingmachine.png')  no-repeat;
	display: block;
}
.nonveg {
	background: url('./images/nonveg.png')  no-repeat;
	display: block;
}


.fa-washingmachine:before, .fa-washingmachine:before {
	background: url('./images/washingmachine.png') center no-repeat;
}
</style>
<div class="page-header" ng-init="findAllHostel();">
	<div class="container">
		<ol class="breadcrumb1">
			<li class="active"><i class="glyphicon glyphicon-bed ">&nbsp;</i>Search
				Hostel</li>
		</ol>
	</div>
</div>

<div class="container">
	<div class="row">

		<!-- <div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">List</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead><input type="text" ng-model="test" class="form-control">
						 <div class="form-group">
              <label for="state" class="control-label">City</label>
               <select name='state'   class="form-control" ng-disabled="!cities" ng-model="test"><option value="">Select</option> <option ng-repeat="city in cities" value='{{city}}'>{{city}}</option></select>        
            </div>
							<tr>
								<th>#</th>
								<th>Namn</th>
								<th class="text-center">Redigera/Radera</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="hostel in hostelDetailsList | filter:test">
								<td>{{$index+1}}</td>
								<td>{{hostel.hostelName}}</td>
								<td class="text-center"><div class="btn-group">
										<button class="btn btn-xs btn-primary"
											ng-click="goToUpdateGroupPage();"
											title="View">
											<i class="fa fa-pencil" aria-hidden="true">View </i>
										</button>
										
									</div></td>
							</tr>
						</tbody>
					</table>
<input type="search">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>HostelName</th>
									<th>Address</th>
									<th>TV</th>
									<th>AC</th>
									<th>WIFI</th>
									<th>NonVegetarian</th>
									<th>washingMachine</th>
									<th>Contact</th>
									<th>Select</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="hostel in hostelDetailsList | filter:test">
									<td>{{$index+1}}</td>
									<td>{{hostel.hostelName}}</td>
									<td>{{hostel.address1}},{{hostel.street}},</br>
										{{hostel.state}},{{hostel.city}},</br>
										{{hostel.country}},{{hostel.pinCode}}.
									</td>
									<td class="mybtn-blue"><div id="mybtn-green"
											ng-show="{{hostel.tv}} == true">
											<i class="glyphicon glyphicon-ok"></i>
										</div>
										<div id="mybtn-red" ng-show="{{hostel.tv}} == false">
											<i class="glyphicon glyphicon-remove"></i>
										</div></td>
									<td class="mybtn-blue"><div id="mybtn-green"
											ng-show="{{hostel.ac}} == true">
											<i class="glyphicon glyphicon-ok"></i>
										</div>
										<div id="mybtn-red" ng-show="{{hostel.ac}} == false">
											<i class="glyphicon glyphicon-remove"></i>
										</div></td>
									<td class="mybtn-blue"><div id="mybtn-green"
											ng-show="{{hostel.wifi}} == true">
											<i class="glyphicon glyphicon-ok"></i>
										</div>
										<div id="mybtn-red" ng-show="{{hostel.wifi}} == false">
											<i class="glyphicon glyphicon-remove"></i>
										</div></td>
									<td class="mybtn-blue"><div id="mybtn-green"
											ng-show="{{hostel.nonVegetarian}} == true">
											<i class="glyphicon glyphicon-ok"></i>
										</div>
										<div id="mybtn-red"
											ng-show="{{hostel.nonVegetarian}} == false">
											<i class="glyphicon glyphicon-remove"></i>
										</div></td>
									<td class="mybtn-blue"><div id="mybtn-green"
											ng-show="{{hostel.washingMachine}} == true">
											<i class="glyphicon glyphicon-ok"></i>
										</div>
										<div id="mybtn-red" class="text-center"
											ng-show="{{hostel.washingMachine}} == false">
											<i class="glyphicon glyphicon-remove"></i>
										</div></td>
									<td><span class="glyphicon glyphicon-envelope"
										aria-hidden="true"></span>{{hostel.emailId}},</br>
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;{{hostel.phoneNumber}}</td>
									<td class="text-center"><button
											class="btn btn-xs btn-primary"
											ng-click="goToUpdateRolePage(role);" title="Edit">
											<i class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;SELECT</i>
										</button></td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div> -->
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<div class="trip-item"
				ng-repeat="hostel in hostelDetailsList | filter:test">
				<div class="item-media">
					<div class="image-cover">
						<img
							src="http://envato.megadrupal.com/html/gofar/images/trip/4.jpg"
							alt="" style="height: 100%; width: auto;">
					</div>

				</div>
				<div class="item-body">
					<div class="item-title">
						<h2>{{hostel.hostelName}}</h2>
					</div>
					<div class="item-list">
						<span class="glyphicon glyphicon-home" style="margin-top: 10px;">Address</span>
						<ul>
							<li class="demo ">{{hostel.address1}},</li>
							<li class="demo ">{{hostel.address1}},{{hostel.street}},</li>

							<li class="demo">{{hostel.state}},{{hostel.city}},</li>
							<li class="demo">{{hostel.country}},{{hostel.pinCode}}</li>
						</ul>
					</div>
					<div class="item-footer">

						<div class="item-icon">


							<i ng-show="{{hostel.wifi}} == true" class="awe-icon fa fa-wifi"></i>
							<i ng-show="{{hostel.tv}} == true"
								class="awe-icon fa fa-television"></i> <i
								ng-show="{{hostel.washingMachine}} == true"
								><i class="washingmachine">&nbsp;
							</i></i>
							
							 <i
								ng-show="{{hostel.nonVegetarian}} == true"
								><i class="nonveg">&nbsp;
							</i></i>
							<!-- <i class="washingmachine" id="">fd</i> -->
						</div>
					</div>
				</div>
				<div></div>
				<div class="item-price-more" >
				
					<ul class="sharebox" ng-repeat=" item in hostel.sharingDetails">
						<li class="test" >{{item.sharingType}}</li>
						<li class="test">{{item.noOfPersonAvailability}}</li>
						

					</ul>
					<div class="price"></div>
					<a class="awe-btn">Book now</a>
				</div>

			</div>

		</div>

	</div>
</div>





