<style>
</style>
<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a  href="#"><img src="./images/DreamHostel.jpg"
					alt="DreamHostel"></a>
			</div>
		 <div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="goToDashBoardPage()"><i
							class="fa fa-home fa-lg"></i> Home</a></li>
					<li class="dropdown"><a data-toggle="dropdown"
						class="dropdown-toggle"><i class="fa fa-user-circle fa-lg"></i><b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<!-- <li><a href="#">{{username}}</a></li> -->
							 <li><a href="#">Inställningar</a></li>
							<li><a ng-click="doLogout()">Logga ut</a></li> 
						</ul></li>
				</ul>
			</div>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<div class="container">
				<ul class="nav navbar-nav">
					<li ng-show="hasFeature('ROLE').allowRead == true"><a
						ng-click="goToRolesListPage()">Roll</a></li>
					 <li ng-show="hasFeature('FEATURES').allowRead == true"><a
						ng-click="goToFeaturesListPage()">Features</a></li>
						<li ng-show="hasFeature('USERS').allowRead == true"><a
						ng-click="goToFeaturesListPage()">Users</a></li>
					<li ng-show="hasFeature('HOSTELREQUEST').allowRead == true"><a
						ng-click="goToHostelRequestListPage()">New Hostel Request</a></li>
						<li ng-show="hasFeature('ROOMS').allowRead == true"><a
						ng-click="goToFeaturesListPage()">ROOMS</a></li> 
						<li ng-show="hasFeature('PROFILE').allowRead == true"><a
						ng-click="goToFeaturesListPage()">PROFILE</a></li>
						<li ng-show="hasFeature('STUDENTREQUEST').allowRead == true"><a
						ng-click="goToFeaturesListPage()">StudentRequest</a></li>
						<li ng-show="hasFeature('UPDATES').allowRead == true"><a
						ng-click="goToFeaturesListPage()">updates</a></li>
						<li ng-show="hasFeature('SENDEMAIL').allowRead == true"><a
						ng-click="goToFeaturesListPage()">Send EMail</a></li>
						<!-- <li ng-show="hasFeature('HOSTELDETAILS').allowRead == true"><a
						ng-click="goToHostelDetaislListPage()">Hostel Details</a></li> -->
<!-- 						SETTINGS   StudentRequest -->
						

				</ul>
			</div>
		</div>
	</nav>
</header>
<main class="hassub">
<div ui-view></div>
</main>
<footer >
	<section id="footer3" class="footer3">
    
                <div class="dark">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center social">

                                <h2>We are EDEN Builder!</h2>

                                <span>We're social, come meet and meet us:</span><br>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>

                </div><!-- /.item -->

            </section>
</footer>