
<div class="page-header">
	<div class="container">
		<!--<a href="" class="backBtn"><i class="fa fa-arrow-circle-o-left fa-lg"></i></a>-->
		<ol class="breadcrumb1">
			<li><a href="">Administration</a></li>
		</ol>
	</div>
</div>
<div class="container">
	<div class="row text-center"
		style="margin-top: 20px; margin-bottom: 20px;">
		<a ng-click="goToRoleListPage()" class="category">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>
							<i class="fa fa-user fa-2x"></i>
						</p>
						<h5>Role</h5>
					</div>
				</div>
			</div>
		</a> <a ng-click="goToHostelRequestListPage()" class="category">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>
							<i class="fa fa-tasks fa-2x"></i>
						</p>
						<h5>New Hostel Request For Approval</h5>
					</div>
				</div>
			</div>
		</a> <a ng-click="goToHostelDetaislListPage()" class="category">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>
							<i class="fa fa-random fa-2x"></i>
						</p>
						<h5>Hostel Details</h5>
					</div>
				</div>
			</div> 
		</a>   
	</div>
</div>