



<fieldset>
		<div id="login-form-wrap" class="c-loginContent centered padding--lv1">
			<div
				class="alignc margin--lv6 !margin-left-right--lv0 !margin-bottom--lv2">
				<div class="freddie freddie--login centered">
					<a href="/" title="Freddie von Chimpenheimer, IV"></a>
				</div>
			</div>
			<h1 class="alignc !margin-bottom--lv3">Reset your password</h1>
			<p class="!margin-bottom--lv4">Almost done. Enter your new
				password, and you're good to go.</p>
			<div class="field-wrapper line">
				<label for="new_password" class="float-left ">New password</label> <input
					type="password" name="password" id="new_password" maxlength="51"
					class=" av-password field-size" value="">
			</div>
			<div class="field-wrapper ">
				<label for="password_confirm">Confirm new password</label> <input
					type="password" name="password_confirm" id="password_confirm"
					maxlength="50" class="av-password field-size">
			</div>
			<button id="reset-password" type="submit" value="reset password"
				class="button-large button-wide p1">Reset Password</button>
		</div>
	</fieldset>