
<div class="container">
<div class="col-xs-8">
	<div class="panel panel-primary" style="margin: 20px;">
		<div class="panel-heading">
			<h3 class="panel-title">Student Registration Form</h3>
		</div>

		<div class="panel-body">
			<div class="form-horizontal">
				<form ng-controller="studentCtrl" name="studentForm">
					<div class="form-group">
						<label class="control-label col-sm-3">First Name<span
							ng-show="student.firstName == undefined ||student.firstName==''"
							style="color: red">*</span></label>
						<div class="col-md-5 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input type="text"
									class="form-control" name="firstname"
									placeholder="Enter your first name"
									ng-model="student.firstName">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Last Name <span
							ng-show="student.lastName == undefined ||student.lastName==''"
							style="color: red">*</span></label>
						<div class="col-md-5 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input type="text"
									class="form-control" name="lastame"
									placeholder="Enter your last name" ng-model="student.lastName">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Email ID <span
							ng-show="student.email == undefined ||student.email==''"
							style="color: red">*</span></label>
						<div class="col-md-5 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-envelope"></i></span> <input type="email"
									class="form-control" placeholder="Enter your Email ID"
									ng-model="student.email">
							</div>
						</div>
					</div>


					<div class="form-group">
						<label class="control-label col-sm-3">Password <span
							ng-show="user.password == undefined ||user.password==''"
							style="color: red">*</span></label>
						<div class="col-md-5 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input type="password"
									class="form-control" ng-model="user.password" id="password"
									name="password" placeholder="Choose password (5-15 chars)">
							</div>
						</div>
					</div>
					<!-- <div class="form-group">
							<label class="control-label col-sm-3">Confirm Password <span
								ng-show="student.confirmpassword == undefined ||student.confirmpassword==''"
								style="color: red">*</span></label>
							<div class="col-md-5 col-sm-8">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input type="password"
										class="form-control" id="confirmpassword"
										name="confirmpassword" ng-model="student.confirmpassword"
										placeholder="Confirm your password" valid-password-c required>
										<span
										ng-show="!studentForm.confirmpassword.$error.required && studentForm.confirmpassword.$error.noMatch && studentForm.user.password.$dirty">Passwords
										do not match.</span>
								</div>
							</div>
						</div> -->

					<div class="form-group">
						<label class="control-label col-sm-3">Contact No. <span
							ng-show="student.phone == undefined ||student.phone==''"
							style="color: red">*</span></label>
						<div class="col-md-5 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-phone"></i></span> <input type="text"
									class="form-control" ng-model="student.phone"
									placeholder="Enter your contact no.">
							</div>
						</div>
					</div>

				

					<!-- 	 <div class="form-group">
							<label class="control-label col-sm-3">Gender </label>
							<div class="col-md-8 col-sm-9">
								<label> <input name="gender" type="radio"
									ng-checked="selected=='male'" ng-true-value="'male'"
									ng-model="student.gender"> Male
								</label> <label> <input name="gender" type="radio"
									ng-checked="selected=='female'" ng-true-value="'female'"
									ng-model="student.gender"> Female
								</label>
							</div>
						</div> -->

					<div class="form-group">
						<label class="control-label col-sm-3">Address <span
							ng-show="student.address == undefined ||student.address==''"
							style="color: red">*</span></label>
						<div class="col-md-5 col-sm-8">
							<textarea rows="3" class="studAddress" ng-model="student.address"
								placeholder="Enter your Address"></textarea>

						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-10">
							<button type="submit" my-Click-Once
								ng-disabled="!student.firstName || !student.lastName ||!user.password ||!student.phone || !student.address"
								class="btn btn-success" ng-click="addStudent(student)">submit</button>


							<button type="submit" class="btn btn-primary btn-flat"
								ng-click="goToHomePage()">cancel</button>
						</div>
					</div>

				</form>
			</div>



		</div>
	</div></div>