<style>
body {
	color: #484848;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	vertical-align: baseline;
	font-size: 15px;
	line-height: 1.5em;
}

*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* box-sizing: border-box; */
}

body {
	background-color: #ffffff;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q,
	dl, dt, dd, ol, ul, fieldset, form, label, legend, textarea, table,
	caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	line-height: 24px;
}

.no-transform {
	text-transform: none;
}

.fwb {
	font-weight: 600;
}

.\!margin-bottom--lv3 {
	margin-bottom: 18px !important;
}

h1, .h1 {
	font-size: 30px;
	line-height: 1.6em;
	margin-bottom: .2em;
	letter-spacing: -0.029em;
	text-transform: capitalize;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	font-weight: 600;
	color: #484848;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana,
		sans-serif;
	outline: 0;
}

.size1of1 {
	width: 100%;
}

.lastUnit, .lastGroup {
	float: none;
	width: auto;
}

@media only screen and (max-width: 64em) .c-signupContent {
	max-width
	:
	 
	600
	px
	;
	

}

@media only screen and (max-width: 64em) .hide-mobile {
	display
	:
	 
	none
	 
	!
	important
	;
	

}

@media only screen and (max-width: 64em) .mar-lr-auto--tablet {
	margin-left
	:
	 
	auto
	;
	
    
	margin-right
	:
	 
	auto
	;
	

}

@media only screen and (max-width: 64em) .nofloat-tablet {
	float
	:
	 
	none
	;
	

}

@media only screen and (max-width: 64em) .full-width-mobile {
	width
	:
	 
	100%;
}

.lastUnit, .unit {
	padding-left: 15px;
	padding-right: 15px;
}

@media only screen and (max-width: 64em) .c-signupWrapper {
	height
	:
	 
	auto
	;
	

}

@media only screen and (max-width: 64em) .c-signupContent {
	max-width
	:
	 
	600
	px
	;
	

}

@media only screen and (max-width: 64em) .full-width-mobile {
	width
	:
	 
	100%;
}

@media only screen and (max-width: 64em) .mar-lr-auto--tablet {
	margin-left
	:
	 
	auto
	;
	
    
	margin-right
	:
	 
	auto
	;
	

}

@media only screen and (max-width: 64em) .nofloat-tablet {
	float
	:
	 
	none
	;
	

}

@media only screen and (max-width: 64em) .full-width-mobile {
	width
	:
	 
	100%;
}

@media only screen and (max-width: 64em) .nomargin--tablet {
	margin
	:
	 
	0;
}

@media only screen and (max-width: 64em) .nopadding--tablet {
	padding
	:
	 
	0;
}

.group, .lastGroup, .lastUnit, .unit {
	overflow: hidden;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	float: left;
}

.c-signupWrapper {
	height: calc(100vh - 140px);
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.\!margin-bottom--lv0 {
	margin-bottom: 0 !important;
}

.margin--lv8 {
	margin: 48px;
}

.\!padding-bottom--lv0 {
	padding-bottom: 0 !important;
}

.padding--lv6 {
	padding: 36px;
}

.size1of3 {
	width: 33.33333333%;
}

.lastUnit, .unit {
	padding-left: 15px;
	padding-right: 15px;
}

.group, .lastGroup, .lastUnit, .unit {
	overflow: hidden;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	float: left;
}

.\!margin-bottom--lv2 {
	margin-bottom: 12px !important;
}

.\!margin-left--lv0 {
	margin-left: 0 !important;
}

.\!margin-right--lv0 {
	margin-right: 0 !important;
}

.\!margin-bottom--lv3 {
	margin-bottom: 18px !important;
}

.margin--lv6 {
	margin: 36px;
}

.freddie {
	background:
		url(https://gallery.mailchimp.com/74afb1b557e9265273c38e56b/images/4a62edaa-918c-41b1-9771-3848726ee255.png)
		no-repeat scroll 50% 0 transparent;
	background-size: 200px;
	height: 210px;
}

.float-left {
	float: left;
}

.size2of3 {
	width: 66.66666667%;
}

.lastUnit, .lastGroup {
	float: none;
	width: auto;
}

.lastUnit, .unit {
	padding-left: 15px;
	padding-right: 15px;
}

.group, .lastGroup, .lastUnit, .unit {
	overflow: hidden;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	float: left;
}

p, .p {
	max-width: 635px;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 12px;
}

.margin--lv8 {
	margin: 48px;
}

.\!padding-top--lv0 {
	padding-top: 0 !important;
}

.padding--lv6 {
	padding: 36px;
}

.line::before, .line::after {
	content: " ";
	display: table;
}

.padding--lv5 {
	padding: 30px;
}

.small-meta {
	font-size: 13px;
	/* line-height: inherit; */
}

.dim6 {
	opacity: .6;
}
</style>
<body>
	<div
		class="centered margin--lv8 padding--lv6 !margin-bottom--lv0 !padding-bottom--lv0 nomargin--tablet nopadding--tablet c-signupWrapper">
		<div class="line c-signupContent centered">
			<div class="unit size1of3 full-width-mobile">
				<div
					class=" freddie margin--lv6 !margin-bottom--lv2 !margin-left--lv0 !margin-right--lv0">
					<a href="/" title="Freddie von Chimpenheimer, IV"></a>
				</div>
			</div>
			<div
				class="lastUnit size2of3 nofloat-tablet full-width-mobile mar-lr-auto--tablet float-left">
				<div id="signup-content" class="line selfclear !margin-bottom--lv8">
					<div class="signup-wrap">
						<div class="line section">
							<div class="lastUnit size1of1">
								<h1
									class="fwb !margin-bottom--lv3 no-transform center-on-medium">Check
									your email!</h1>
								<p>We have sent a message to email. Open it up and click
									Activate Account. We will take it from there.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="centered margin--lv8 padding--lv6 !margin-top-bottom--lv0 !padding-top--lv0 nomargin--tablet nopadding--tablet hide-print">
				<div class="line c-signupContent centered ">
					<div class="unit size1of3 hide-mobile">&nbsp;</div>
					<div
						class="lastGroup size2of3 nofloat-tablet full-width-mobile mar-lr-auto--tablet">
						<p
							class="padding--lv5 !padding-top-bottom--lv0 small-meta dim6 full-width">
							©2001–2017 <span>All Rights Reserved. MailChimp® is a
								registered trademark of The Rocket Science Group.</span> <span
								class="nowrap link-underline"> <a class="textcolor"
								href="http://mailchimp.com/legal/privacy" target="_blank"
								tabindex="-1"
								onclick="ga('send', 'event', 'dashboard', 'link', 'mailchimp.com/legal/privacy');">Privacy</a>
								and <a class="textcolor" href="http://mailchimp.com/legal/"
								target="_blank" tabindex="-1"
								onclick="ga('send', 'event', 'dashboard', 'link', 'mailchimp.com/legal/');">Terms</a>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>