<style>
.panel-title .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-title .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

</style>
<div class="page-header">
	<div class="container">
		<ol class="breadcrumb1">
			<li class="active">Group/Project</li>
		</ol>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Filters</div>
				<div class="panel-body bg-light">
					<form role="form">
						<div class="form-group">
						<h4 class="panel-title">
							<a class="accordion-toggle" data-toggle="collapse"
								data-target="#demo">Preferences</a></h4>
							<div id="demo" class="collapse">
								<div class="_1cEG7-">
									<div class="_1C8YsH">
										
										<div class="_4IiNRh _-9cJSB" title="SAMSUNG">
											<div class="_2wQvxh _1WV8jE">
												<div class="_2kFyHg _-9cJSB">
													<label><input type="checkbox" class="_3uUUD5">
														<div class="_1p7h2j"></div>
														<div class="_1GEhLw">SAMSUNG</div></label>
												</div>
											</div>
										</div>
										<div class="_4IiNRh _-9cJSB" title="Lenovo">
											<div class="_2wQvxh _1WV8jE">
												<div class="_2kFyHg _-9cJSB">
													<label><input type="checkbox" class="_3uUUD5">
														<div class="_1p7h2j"></div>
														<div class="_1GEhLw">Lenovo</div></label>
												</div>
											</div>
										</div>
										<div class="_4IiNRh _-9cJSB" title="ABB">
											<div class="_2wQvxh _1WV8jE">
												<div class="_2kFyHg _2D7eOw _-9cJSB">
													<label><input type="checkbox" class="_3uUUD5">
														<div class="_1p7h2j"></div>
														<div class="_1GEhLw">ABB</div></label>
												</div>
											</div>
										</div>
										<div class="_4IiNRh _-9cJSB" title="Adcom">
											<div class="_2wQvxh _1WV8jE">
												<div class="_2kFyHg _2D7eOw _-9cJSB">
													<label><input type="checkbox" class="_3uUUD5">
														<div class="_1p7h2j"></div>
														<div class="_1GEhLw">Adcom</div></label>
												</div>
											</div>
										</div>
										<div class="_4IiNRh _-9cJSB" title="Adnasan">
											<div class="_2wQvxh _1WV8jE">
												<div class="_2kFyHg _2D7eOw _-9cJSB">
													<label><input type="checkbox" class="_3uUUD5">
														<div class="_1p7h2j"></div>
														<div class="_1GEhLw">Adnasan</div></label>
												</div>
											</div>
										</div>
										<div class="_4IiNRh _-9cJSB" title="AIRTYME">
											<div class="_2wQvxh _1WV8jE">
												<div class="_2kFyHg _2D7eOw _-9cJSB">
													<label><input type="checkbox" class="_3uUUD5">
														<div class="_1p7h2j"></div>
														<div class="_1GEhLw">AIRTYME</div></label>
												</div>
											</div>
										</div>
									</div>
								
								</div>

								<div class="form-group">
									<button class="btn btn-success"
										ng-click="getGroupsByUnit(unit);">Submit</button>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">List</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Namn</th>
								<th class="text-center">Redigera/Radera</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="group in groupsList">
								<td>{{$index+1}}</td>
								<td>{{group.name}}</td>
								<td class="text-center"><div class="btn-group">
										<button class="btn btn-xs btn-success"
											ng-click="goToUpdateGroupPage(group,company,department,unit);"
											title="Redigera">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</button>
										<button class="btn btn-xs btn-danger"
											ng-click="deleteCompany(group);" data-toggle="modal"
											data-target="#companyDeletion" title="Radera">
											<i class="fa fa-trash"></i>
										</button>
									</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="companyDeletion" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header modal-header-danger">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Vill du verkligen ta bort?</h4>
			</div>
			<div class="modal-body">
				<p>Genom att ta bort av gruppen, De anställda som är knutna till
					företaget " {{deleteGroup.name}} " kommer att tas bort.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal"
					ng-click="confirmDelete()">Ok</button>
				<button type="button" class="btn btn-link" data-dismiss="modal">Stänga</button>
			</div>
		</div>
	</div>
</div>



