<div class="page-header">
	<div class="container">
		<ol class="breadcrumb1">
			<li class="active">Hostel Details</li>
		</ol>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<table width="100%">
			<tbody>
				<tr>
					<td width="750" align="left" valign="top"><div
							class="col-md-12" style="margin-top: 21px;">
							<style>
.errorMessage {
	color: #c50000;
}
</style>

							<div class="panel panel-default"
								style="height: auto; min-height: inherit;"
								id="viewprofilecontainer">

								<div class="panel-heading">
									<b>Profile</b>

									<div class="pull-right">

										<button class="btn-xs btn-success btn pull-right"
											id="hideprofileshowform">Edit Profile</button>

									</div>

								</div>


								<form enctype="multipart/form-data" id="uploadphoto-form"
									action="/jobseeker/profile" method="post">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">

										<tbody>
											<tr>

												<td valign="top"><table width="100%" cellpadding="10"
														cellspacing="10"
														style="border-collapse: separate; border-spacing: 5px; margin-left: 10px;">

														<tbody>
															<tr>

																<td class="head1">charankumar mysore</td>

															</tr>

															<tr>

																<td class="para"><strong>Student</strong></td>

															</tr>

															<tr>

																<td class="para"><img
																	src="/images/location_pin.png" width="18"
																	align="absmiddle" alt="location" border="no-border"><span
																	style="word-break: break-all; display: inline-block;">jai
																		andhra street,venkateswarapuram nellore</span></td>

															</tr>

															<tr>

																<td class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nellore</td>

															</tr>

															<tr>

																<td class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nellore</td>

															</tr>

															<tr>

																<td class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Andhra
																	Pradesh - 524005</td>

															</tr>

														</tbody>
													</table></td>

												<!-- <td valign="top" align="center" width="250"><div
														class="profile_photo"
														style="width: 100px; height: 100px; border: 1px solid #ccc; margin-bottom: 3px; border-radius: 3px; margin: 5px; overflow: hidden; background-color: #ccc; padding: 3px">
														<img src="/protected/uploads/photos/no-photo.jpg"
															alt="charankumar mysore" title="charankumar mysore"
															border="no-border" width="100" height="100">
													</div>


													<div id="uploadprofilephoto"
														style="display: block; margin-bottom: 3px;">

														<div align="center" class="edit_photo">
															<a
																href="javascript:showhideForm('uploadprofilephoto1','uploadprofilephoto');"
																class="btn btn-info btn-sm"
																style="width: 60px; color: #fff; padding: 0px;">Upload</a>


														</div>

													</div>


													<div id="eventlist">&nbsp;</div>

													<div id="uploadprofilephoto1" class="form"
														style="display: none; margin-right: 10px; width: 225px; overflow: hidden;">
														<input id="ytJobseekerprofile_photo" type="hidden"
															value="" name="Jobseekerprofile[photo]"><input
															class="btn btn-success btn-sm"
															name="Jobseekerprofile[photo]"
															id="Jobseekerprofile_photo" type="file"> <input
															type="hidden" name="jsaction" value="uploadphoto">

														<input name="uploadphotofile" id="uploadphotofile"
															class="btn btn-info btn-sm"
															style="margin-top: 5px; width: 90px;" type="submit"
															value="Upload"> <a href="/jobseeker/profile"
															class="btn btn-danger btn-sm"
															style="width: 90px; color: #fff; margin-top: 5px;">Cancel</a>
													</div></td> -->

											</tr>

										</tbody>
									</table>

								</form>
								<div class="clearfix">&nbsp;</div>

								<div class="table-responsive1">

									<table id="table-transform"
										class="table table-striped table-bordered"
										style="margin: 10px; width: 97%">

										<tbody>
											<tr>

												<td style="width: 160px;"><b>Phone</b></td>

												<td id="allinone_b">9493911949</td>

											</tr>

											<tr>

												<td><b>E-Mail</b></td>

												<td id="allinone_b">charankumar.mysore@gmail.com</td>

											</tr>

											<tr>

												<td><b>Gender</b></td>

												<td id="allinone_b">Male</td>

											</tr>

											<tr>

												<td><b>Date of Birth</b></td>

												<td id="allinone_b">24-Jun-1992</td>

											</tr>

											<tr>

												<td><b>Marital Status</b></td>

												<td id="allinone_b">Single</td>

											</tr>

											<tr>

												<td colspan="3"><b
													style="color: #d22026; font-size: 14px;">Educational
														Details</b></td>

											</tr>

											<tr>

												<td><b>Highest Qualification</b></td>

												<td id="allinone_b">B.TECH</td>

											</tr>

											<tr>

												<td><b>Specialization</b></td>

												<td id="allinone_b">JAVA</td>

											</tr>

											<tr>

												<td><b>College / University</b></td>

												<td id="allinone_b">KSN INSTITUTE TECHNOLOGY</td>

											</tr>

											<tr>

												<td><b>Year of Passing</b></td>

												<td id="allinone_b">2014</td>

											</tr>

											<tr>

												<td colspan="3"><b
													style="color: #d22026; font-size: 14px;">Work
														Experience</b></td>

											</tr>

											<tr>

												<td><b>Job Title</b></td>

												<td id="allinone_b">JAVA DEVELOPER</td>

											</tr>

											<tr>

												<td><b>Work Status</b></td>

												<td id="allinone_b">Employed and looking for a job</td>

											</tr>

											<tr>

												<td><b>Key Skills</b></td>

												<td id="allinone_b">JAVA,SPRING,ANGULARJS</td>

											</tr>

											<tr>

												<td><b>Experience</b></td>

												<td id="allinone_b">0.6 Year(s)</td>

											</tr>

											<tr>

												<td><b>Industry</b></td>

												<td id="allinone_b">Information Technology</td>

											</tr>

											<tr>

												<td><b>Employment Type</b></td>

												<td id="allinone_b">Full Time</td>

											</tr>

										</tbody>



									</table>

								</div>

							</div>

							<div style="display: none;" id="editjsprofile">

								<div class="panel panel-default">

									<div class="panel-heading">
										<b>Edit Profile</b>

										<div class="pull-right">
											<a class="btn-xs btn-success btn" style="color: #fff;"
												href="/jobseeker/profile" id="hideformshowprofile">Cancel</a>
										</div>

									</div>

									<div class="col-centered">

										<div class="container-fluid">
											<br>

											<form id="jobseekerdetails-form" action="/jobseeker/profile"
												method="post">
												<table width="100%" cellpadding="10">

													<tbody>
														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_name">First Name <span
																		class="required">*</span></label> <input maxlength="30"
																		class="form-control" name="Jobseekerprofile[name]"
																		id="Jobseekerprofile_name" type="text"
																		value="charankumar">
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_lname">Last Name <span
																		class="required">*</span></label> <input maxlength="30"
																		class="form-control" name="Jobseekerprofile[lname]"
																		id="Jobseekerprofile_lname" type="text" value="mysore">
																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_mobile">Mobile Number <span
																		class="required">*</span></label> <input maxlength="15"
																		class="form-control" name="Jobseekerprofile[mobile]"
																		id="Jobseekerprofile_mobile" type="text"
																		value="9493911949">
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2" for="Jobseekerprofile_landline">Alternate
																		Number</label> <input maxlength="15" class="form-control"
																		name="Jobseekerprofile[landline]"
																		id="Jobseekerprofile_landline" type="text" value="">
																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2" for="Jobseekerprofile_gender">Gender</label>
																	<select size="1" class="form-control"
																		name="Jobseekerprofile[gender]"
																		id="Jobseekerprofile_gender">
																		<option value="male" selected="selected">Male</option>
																		<option value="female">Female</option>
																	</select>
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2"
																		for="Jobseekerprofile_maritalstatus">Marital
																		Status</label> <select size="1" class="form-control"
																		name="Jobseekerprofile[maritalstatus]"
																		id="Jobseekerprofile_maritalstatus">
																		<option value="single" selected="selected">Single</option>
																		<option value="married">Married</option>
																		<option value="divorced">Divorced</option>
																		<option value="widowed">Widowed</option>
																		<option value="separated">Separated</option>
																	</select>
																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_dob">Date of Birth <span
																		class="required">*</span></label> <input size="10"
																		maxlength="12" class="form-control hasDatepicker"
																		style="cursor: pointer;" id="Date_of_Birth"
																		name="Jobseekerprofile[dob]" type="text"
																		value="24-06-1992"><img
																		class="ui-datepicker-trigger"
																		src="/images/calender.jpg" alt="Full calendar"
																		title="Full calendar">
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_district">District <span
																		class="required">*</span></label> <select size="1"
																		class="form-control" name="Jobseekerprofile[district]"
																		id="Jobseekerprofile_district">
																		<option value="">-- Select District --</option>
																		<option value="Anantapur">Anantapur</option>
																		<option value="Chittoor">Chittoor</option>
																		<option value="East Godavari">East Godavari</option>
																		<option value="Guntur">Guntur</option>
																		<option value="Hyderabad">Hyderabad</option>
																		<option value="Kadapa">Kadapa</option>
																		<option value="Krishna">Krishna</option>
																		<option value="Kurnool">Kurnool</option>
																		<option value="Nellore" selected="selected">Nellore</option>
																		<option value="Prakasam">Prakasam</option>
																		<option value="Srikakulam">Srikakulam</option>
																		<option value="Visakhapatnam">Visakhapatnam</option>
																		<option value="Vizianagaram">Vizianagaram</option>
																		<option value="West Godavari">West Godavari</option>
																	</select>
																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_zipcode">Pin Code <span
																		class="required">*</span></label> <input maxlength="12"
																		class="form-control" name="Jobseekerprofile[zipcode]"
																		id="Jobseekerprofile_zipcode" type="text"
																		value="524005">
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_city">City / Town <span
																		class="required">*</span></label> <input maxlength="50"
																		class="form-control" name="Jobseekerprofile[city]"
																		id="Jobseekerprofile_city" type="text" value="nellore">
																</div></td>

														</tr>

														<tr>

															<td valign="top" colspan="3"><div
																	class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_street">Address <span
																		class="required">*</span></label>
																	<textarea rows="2" class="form-control"
																		name="Jobseekerprofile[street]"
																		id="Jobseekerprofile_street">jai andhra street,venkateswarapuram nellore</textarea>
																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_designation">Designation
																		<span class="required">*</span>
																	</label> <input maxlength="50" class="form-control"
																		name="Jobseekerprofile[designation]"
																		id="Jobseekerprofile_designation" type="text"
																		value="Student">
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2" for="Jobseekerprofile_jobtitle">Job
																		Title</label> <input maxlength="100" class="form-control"
																		name="Jobseekerprofile[jobtitle]"
																		id="Jobseekerprofile_jobtitle" type="text"
																		value="JAVA DEVELOPER">
																</div></td>

														</tr>

														<tr>

															<td valign="top" colspan="3"><div
																	class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_skills">Key Skills <span
																		class="required">*</span></label> <input class="form-control"
																		name="Jobseekerprofile[skills]"
																		id="Jobseekerprofile_skills" type="text"
																		maxlength="100" value="JAVA,SPRING,ANGULARJS">
																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2" for="Jobseekerprofile_workstatus">Work
																		Status</label> <select size="1" style="width: 320px;"
																		class="form-control"
																		name="Jobseekerprofile[workstatus]"
																		id="Jobseekerprofile_workstatus">
																		<option value="employed" selected="selected">Employed
																			and looking for a job</option>
																		<option value="unemployed">Unemployed and
																			looking for a job</option>
																	</select>
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2" for="Jobseekerprofile_experience">Experience</label>
																	<div style="border: 0px solid #ccc;">

																		<table cellpadding="0" cellspacing="2" border="0"
																			style="margin: 0px;">

																			<tbody>
																				<tr>

																					<td valign="top" width="80"><select size="1"
																						style="width: 75px;" class="form-control"
																						name="Jobseekerprofile[years]"
																						id="Jobseekerprofile_years">
																							<option value="0" selected="selected">0</option>
																							<option value="1">1</option>
																							<option value="2">2</option>
																							<option value="3">3</option>
																							<option value="4">4</option>
																							<option value="5">5</option>
																							<option value="6">6</option>
																							<option value="7">7</option>
																							<option value="8">8</option>
																							<option value="9">9</option>
																							<option value="10">10</option>
																							<option value="11">11</option>
																							<option value="12">12</option>
																							<option value="13">13</option>
																							<option value="14">14</option>
																							<option value="15">15</option>
																							<option value="16">16</option>
																							<option value="17">17</option>
																							<option value="18">18</option>
																							<option value="19">19</option>
																							<option value="20">20</option>
																							<option value="21">21</option>
																							<option value="22">22</option>
																							<option value="23">23</option>
																							<option value="24">24</option>
																							<option value="25">25</option>
																							<option value="26">26</option>
																							<option value="27">27</option>
																							<option value="28">28</option>
																							<option value="29">29</option>
																							<option value="30">30</option>
																							<option value="30+">30+</option>
																					</select></td>

																					<td valign="middle" align="left"><strong>Years</strong>&nbsp;</td>

																					<td valign="top" width="80"><select size="1"
																						style="width: 75px;" class="form-control"
																						name="Jobseekerprofile[months]"
																						id="Jobseekerprofile_months">
																							<option value="0">0</option>
																							<option value="1">1</option>
																							<option value="2">2</option>
																							<option value="3">3</option>
																							<option value="4">4</option>
																							<option value="5">5</option>
																							<option value="6" selected="selected">6</option>
																							<option value="7">7</option>
																							<option value="8">8</option>
																							<option value="9">9</option>
																							<option value="10">10</option>
																							<option value="11">11</option>
																					</select></td>

																					<td valign="middle"><strong>Months</strong></td>

																				</tr>

																			</tbody>
																		</table>

																	</div>

																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_college">College /
																		University <span class="required">*</span>
																	</label> <input size="50" maxlength="75" class="form-control"
																		name="Jobseekerprofile[college]"
																		id="Jobseekerprofile_college" type="text"
																		value="KSN INSTITUTE TECHNOLOGY">
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_passingyear">Year of
																		Passing <span class="required">*</span>
																	</label> <select size="1" class="form-control"
																		style="height: 30px; width: 180px;"
																		name="Jobseekerprofile[passingyear]"
																		id="Jobseekerprofile_passingyear">
																		<option value="">--select year--</option>
																		<option value="2017">2017</option>
																		<option value="2016">2016</option>
																		<option value="2015">2015</option>
																		<option value="2014" selected="selected">2014</option>
																		<option value="2013">2013</option>
																		<option value="2012">2012</option>
																		<option value="2011">2011</option>
																		<option value="2010">2010</option>
																		<option value="2009">2009</option>
																		<option value="2008">2008</option>
																		<option value="2007">2007</option>
																		<option value="2006">2006</option>
																		<option value="2005">2005</option>
																		<option value="2004">2004</option>
																		<option value="2003">2003</option>
																		<option value="2002">2002</option>
																		<option value="2001">2001</option>
																		<option value="2000">2000</option>
																		<option value="1999">1999</option>
																		<option value="1998">1998</option>
																		<option value="1997">1997</option>
																		<option value="1996">1996</option>
																		<option value="1995">1995</option>
																		<option value="1994">1994</option>
																		<option value="1993">1993</option>
																		<option value="1992">1992</option>
																		<option value="1991">1991</option>
																		<option value="1990">1990</option>
																		<option value="1989">1989</option>
																		<option value="1988">1988</option>
																		<option value="1987">1987</option>
																		<option value="1986">1986</option>
																		<option value="1985">1985</option>
																		<option value="1984">1984</option>
																		<option value="1983">1983</option>
																		<option value="1982">1982</option>
																		<option value="1981">1981</option>
																		<option value="1980">1980</option>
																		<option value="1979">1979</option>
																		<option value="1978">1978</option>
																		<option value="1977">1977</option>
																		<option value="1976">1976</option>
																		<option value="1975">1975</option>
																		<option value="1974">1974</option>
																		<option value="1973">1973</option>
																		<option value="1972">1972</option>
																		<option value="1971">1971</option>
																		<option value="1970">1970</option>
																		<option value="1969">1969</option>
																		<option value="1968">1968</option>
																		<option value="1967">1967</option>
																		<option value="1966">1966</option>
																		<option value="1965">1965</option>
																	</select>
																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_qualification">Highest
																		Qualification <span class="required">*</span>
																	</label> <input size="50" maxlength="30" class="form-control"
																		name="Jobseekerprofile[qualification]"
																		id="Jobseekerprofile_qualification" type="text"
																		value="B.TECH">
																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_specialization">Specialization
																		<span class="required">*</span>
																	</label> <input size="50" maxlength="30" class="form-control"
																		name="Jobseekerprofile[specialization]"
																		id="Jobseekerprofile_specialization" type="text"
																		value="JAVA">
																</div></td>

														</tr>

														<tr>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_curindustry">Current
																		Industry <span class="required">*</span>
																	</label> <select size="1" class="form-control"
																		name="Jobseekerprofile[curindustry]"
																		id="Jobseekerprofile_curindustry">
																		<option value="">--select industry--</option>
																		<option value="Accounting">Accounting</option>
																		<option value="Advertising">Advertising</option>
																		<option value="Aerospace">Aerospace</option>
																		<option value="Agriculture">Agriculture</option>
																		<option value="Aircraft">Aircraft</option>
																		<option value="Airline">Airline</option>
																		<option value="Apparel and Accessories">Apparel
																			and Accessories</option>
																		<option value="Automotive">Automotive</option>
																		<option value="Banking">Banking</option>
																		<option value="Biotechnology">Biotechnology</option>
																		<option value="BPO">BPO</option>
																		<option value="Broadcasting">Broadcasting</option>
																		<option value="Brokerage">Brokerage</option>
																		<option value="Call Centers">Call Centers</option>
																		<option value="Cargo Handling">Cargo Handling</option>
																		<option value="Cement">Cement</option>
																		<option value="Chemical">Chemical</option>
																		<option value="Construction">Construction</option>
																		<option value="Consulting">Consulting</option>
																		<option value="Consumer Products">Consumer
																			Products</option>
																		<option value="Cosmetics">Cosmetics</option>
																		<option value="Customer Care">Customer Care</option>
																		<option value="Defense">Defense</option>
																		<option value="Education">Education</option>
																		<option value="Electrical and Electronics">Electrical
																			and Electronics</option>
																		<option value="Energy">Energy</option>
																		<option value="Entertainment and Media">Entertainment
																			and Media</option>
																		<option value="Financial Services">Financial
																			Services</option>
																		<option value="FMCG">FMCG</option>
																		<option value="Food and Beverages">Food and
																			Beverages</option>
																		<option value="Granites Processing">Granites
																			Processing</option>
																		<option value="Grocery">Grocery</option>
																		<option value="Hardware and Peripherals">Hardware
																			and Peripherals</option>
																		<option value="Health Care">Health Care</option>
																		<option value="Hotels">Hotels</option>
																		<option value="Information Technology"
																			selected="selected">Information Technology</option>
																		<option value="Infrastructure">Infrastructure</option>
																		<option value="Insurance">Insurance</option>
																		<option value="Interior Furniture">Interior
																			Furniture</option>
																		<option value="Internet Publishing">Internet
																			Publishing</option>
																		<option value="Investment Banking">Investment
																			Banking</option>
																		<option value="Legal">Legal</option>
																		<option value="Manufacturing">Manufacturing</option>
																		<option value="Milk and Dairy Products">Milk
																			and Dairy Products</option>
																		<option value="Music">Music</option>
																		<option value="Newspaper Publishers">Newspaper
																			Publishers</option>
																		<option value="others">Other, Please Specify</option>
																		<option value="Pharmaceuticals">Pharmaceuticals</option>
																		<option value="Publishing">Publishing</option>
																		<option value="Real Estate">Real Estate</option>
																		<option value="Retail and Whole sale">Retail
																			and Whole sale</option>
																		<option value="Sales and Marketing">Sales and
																			Marketing</option>
																		<option value="Semi Conductors">Semi
																			Conductors</option>
																		<option value="Service">Service</option>
																		<option value="Sports">Sports</option>
																		<option value="Stock and Securities">Stock
																			and Securities</option>
																		<option value="Telecommunications">Telecommunications</option>
																		<option value="Transportation">Transportation</option>
																	</select> <input size="25" maxlength="50" style="display: none;"
																		class="form-control"
																		name="Jobseekerprofile[otherindustry]"
																		id="Jobseekerprofile_otherindustry" type="text"
																		value="Information Technology">

																</div></td>

															<td valign="top">&nbsp;</td>

															<td valign="top"><div class="form-group col-md-12">
																	<label class="label2 required"
																		for="Jobseekerprofile_emptype">Preferred
																		Employment <span class="required">*</span>
																	</label>
																	<div
																		style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;">

																		<table cellpadding="3" cellspacing="0" border="0"
																			style="width: 100%;">

																			<tbody>
																				<tr>

																					<td><div class="employmenttype">

																							<input type="checkbox" name="employment[]"
																								value="1" checked="checked"> <span
																								class="countylbl">Full Time</span>
																						</div></td>

																					<td><div class="employmenttype">

																							<input type="checkbox" name="employment[]"
																								value="2"> <span class="countylbl">Part
																								Time</span>
																						</div></td>

																				</tr>

																				<tr>

																					<td><div class="employmenttype">

																							<input type="checkbox" name="employment[]"
																								value="3"> <span class="countylbl">Contract</span>
																						</div></td>

																					<td><div class="employmenttype">

																							<input type="checkbox" name="employment[]"
																								value="4"> <span class="countylbl">Contract
																								to Hire</span>
																						</div></td>

																				</tr>

																			</tbody>
																		</table>

																	</div>

																	<input type="hidden" name="Jobseekerprofile[emptype]"
																		id="Jobseekerprofile_emptype" value="1">

																</div></td>

														</tr>

														<tr>

															<td colspan="3"><div class="form-group col-md-12">

																	<div class="edit_save clear"
																		style="margin-right: 10px; margin-top: 10px;">

																		<input type="hidden" name="jsaction"
																			value="jobseekerdetails"> <input
																			name="updatedetails" id="updatedetails"
																			class="btn btn-sm btn-success" type="submit"
																			value="Update"> <a
																			class="btn-sm btn-danger btn" style="color: #fff;"
																			href="/jobseeker/profile">Cancel</a>
																	</div>

																</div></td>

														</tr>

													</tbody>
												</table>

											</form>
										</div>

									</div>

								</div>

							</div>

							<br>






						</div></td>
					<td width="2"></td>
					<td width="248" align="left" valign="top"><div
							class="col-lg-12" style="margin-top: 21px;">
							<div class="bs-example">
								<div class="list-group">
									<div class="list-group-item active">
										<span class="glyphicon glyphicon-user">&nbsp;</span> My
										Account
									</div>
									<a href="/jobseeker/profile" class="list-group-item">
										Profile </a> <a href="/jobseeker/changepassword"
										class="list-group-item"> Change Password </a>
									<div class="list-group-item" style="height: 40px;">
										<form name="status-form" class="form" method="post"
											id="status-form" action="/jobseeker/profile">
											<table cellpadding="0" cellspacing="0" border="0"
												width="100%" align="left">
												<tbody>
													<tr>
														<td valign="middle"><input id="checkstatuschange"
															checked="checked" value="Y"
															name="Jobseekerprofile[status]" type="checkbox"
															style="margin-top: 0px; display: none;"> <input
															type="hidden" name="jsaction" value="status">
															<div class="submit_button">
																<input name="changestatus" class="btn btn-danger btn-sm"
																	id="changestatus"
																	style="background-color: transparent; border: none; color: #333; padding: 0px;"
																	type="submit" value="Deactivate Account.">
																&nbsp;&nbsp;[ <abbr
																	title="If you deactivate your account you wont get any job alerts,apply for jobs and your profile will not appear in employer search results.Useful for temporarily deactivate your account for some days">?</abbr>
																]
															</div></td>
													</tr>
												</tbody>
											</table>
										</form>
										<input id="activestatusbtn" style="display: none;" name="yt0"
											type="button" value="Go">
									</div>
									<div class="list-group-item">
										<a class="list-group-item1"
											style="background-color: transparent; border: none; color: #333; padding: 0px;"
											href="#" id="yt1">Delete My Account</a>&nbsp;[ <abbr
											title="Deleting your Apemploymentexchange Account affects all data associated with that account and any services you use.Keep in mind that you will not be able to reactivate your account or retrieve any of the content or information you have added">?</abbr>
										]
									</div>
								</div>
								<!-- <div class="list-group">
									<div class="list-group-item active">
										<span class="glyphicon glyphicon glyphicon-info-sign">&nbsp;</span>
										Notifications
									</div>
									<a href="/jobseeker/appliedjobs" class="list-group-item">
										Applied Hosetels <span class="badge">0</span>
									</a> <a href="/jobseeker/viewedrecruiters" class="list-group-item">
										Recruiters Profile Views<span class="badge">0</span>
									</a>
								</div> -->


							</div>
						</div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>